<!DOCTYPE html>
@model HariFood.ViewModels.HomeIndexViewModel;
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>HariFoods</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../../Styles/styles.css">
    <script src="main.js"></script>
</head>
<body>
    <h1>@Model.Message</h1>
    <table>
        @foreach (var restaurant in Model.Restaurants)
        {
            <tr>
                <td>@restaurant.Id</td>
                <td>@restaurant.Name</td>
                <td>
                    <a asp-controller="Home" asp-action="Details" asp-route-id="@restaurant.Id">Details</a>
                    <a asp-controller="Home" asp-action="Delete" asp-route-id="@restaurant.Id">Delete</a>
                </td>
                
            </tr>
        }
    </table>
    <a asp-controller="Home" asp-action="Create">Create A Restaurant</a>
</body>
</html>